body{
  width: 100%;
  margin: 0px auto;
  font-family: sans-serif;
}
.berita{
  /*display : block;*/
  float: left;
  margin: 20px auto;
  width: 60%;
  padding: 30px;
  /*box-shadow: 1px 2px 15px grey;*/
  /*background-color: #F7F7F7;
  border: 1px solid #E4E4E4;*/
}

.berita-options-container, .komentar-options-container
{
  float: right;
}

.berita-options-button, .komentar-options-button
{
  padding: 2px 10px 1px 10px;
  /*border: 1px solid red;*/
  font-weight: bold;
  font-size: 1.5em;
  cursor: pointer;
  border: 1px solid #E4E4E4;
  text-align: center;
  border-radius: 3px;
}

.berita-options-button:hover , .komentar-options-button:hover{
  color: #007a26;
  background-color: #F7F7F7;

}

.berita-options , .komentar-options{
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 3px 1px gray;
  z-index: 1;
}

.show-berita-options , .show-komentar-options
{
  display: block;
}

.deletelink, .deletekomentarlink{
  padding: 10px;
  display: block;
  text-align: right;
}

.deletelink:hover, .deletekomentarlink:hover{
  background-color: #007a26;
  color: white;
}



.h1-judul-berita
{
  display: block;
  font-size: 1.8em;
}

.hr-berita-divider
{
  height: 1px;
    background: #ccc;
    border: 0;
}

.gambar{
  margin-top: 20px;
}

.gambar_detail_berita
{
  width: 100%;
  max-height: 420px;
  min-width: 60%;
}

.berita h1{
  margin: 4px 5px;
  text-transform: capitalize;
}
.berita a{
  text-decoration: none;
  color: black;
  margin: 0px 5px;
}
#kategori{
  background-color: #c4c4c4;
  border-radius: 8px;
  padding: 2px;
}

.berita p
{
  font-size: 0.9em;
  text-align: justify;
  padding: 0px 5px 10px 10px;
}

/*=============KOMENTAR SECTION====================*/
.hr-comment-divider
{
  width: 95%;
  height: 1px;
    background: #ccc;
    font-size: 0;
    border: 0;
}
.komen-div-wrapper{
  /*border: 1px solid orange;*/
  width: 95%;
  margin-bottom: 10px;

}

.komentar{
  /*border: 1px solid green;*/
}

.komentar_1 ul{
  display: inline-block;
  /*display: inline;*/
  padding-left: 5px;

}

.komentar_1 ul li.nama-komentator-li{
  font-size: 1em;
  /*border: 1px solid red;*/

}

.komentar_1 ul li.waktu-komentar-li{
  font-size: 0.8em;
  /*border: 1px solid red;*/
}

.comment-profile-picture-small
{
  background-color: black;
  border-radius: 3px;
  width: 45px;
  height: 45px;
}

.comment-wrapper
{
  border-radius: 2px;
  border: 1px solid #E4E4E4;
  /*margin: 10px 0px 10px 0px;*/
  padding-left: 10px;
  background-color: #E4E4E4;
}

.pos_komentar ul{
  padding-left: 0px;
  margin-top: 50px;
}
.pos_komentar ul li textarea{
  width: 100%;
  border: 1px solid #007a26;
  border-radius: 3px;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 2px 0px;
}
.pos_komentar ul li input{
  width: 100%;
  line-height: 2;
  border-radius: 3px;
  font-size: 15px;
  margin-bottom: 10px;
  border: none;
}
#tombol_kirim{
  width: 169px;
  margin-top: 30px;
  background-color: #252525;
  color: white;
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
}

#tombol_kirim:hover{
  background-color: #007a26;
}

.wajib_diisi{
  color: red;
}
ul{
  list-style: none;
}

/*ASIDE BACA JUGA*/
.aside-baca-juga
{
  float: right;
  width: 32%;
}

.judul-baca-juga{
  background-color: #252525;
  border-bottom: 3px solid #007a26;
  color: white;
  padding: 5px;
}

.baca-juga-div
{
  width: 375px;
  height: 94px;
  padding: 6px;
  margin-right: 2%;
  margin-bottom: 2%;
  /*border: 1px solid red;*/
  float: left;
  display: block;
  text-align: justify;
}

.baca-juga-div:hover
{
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  box-shadow: 1px 1px 8px 1px grey;
}

.baca-juga-thumbnails
{
  width: 168px;
  height: 94px;
  float: left;
  margin-right: 10px;
}

.baca-juga-title
{
  font-size: 0.8em;
  color: #252525;
  /*border: 1px solid orange;*/
  display: inline;
}

.timedate
{
  font-size: 0.6em;
  color: gray;
  display: block;
}

.tag
{
  font-size: 0.6em;
  color: #007a26;
  display: block;
}


@media screen and (max-width: 900px)
{
  .berita{
    display: block;
    width: 90%;
  }

  .aside-baca-juga{
    float: left;
    display: block;
    width: 90%;
  }
}
