.comment-profile-picture-small{
  background-color: black;
  width: 50px;
  height: 50px;
}

.detailpengaduan{
  width: 100%;
  height: auto;
  min-height: 800px;
  border: 2px solid white;
  border: 1px solid #E4E4E4;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailkanan{
  float: left;
  width: 50%;
  height: auto;
  margin-left: 5%;
  margin-right: 10%;
}

.detailkiri{
  float: left;
  width: 30%;
  height: auto;
  margin-top: 2%;
}

.detailkanan h3{
  margin-top: 0px;
}

.daftarDetailpndKomentar{
  margin: 0px;
  margin-bottom: 3%;
}

.artDetailpndKomentar{
  padding-left: 3%;
}

.artDetailpndKomentar ul{
  display: inline-block;
  padding-left: 10px;
}

.secDetailpndKomentar {
  border-radius: 5px;
  border: 1px solid #252525;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  width: 91%;
}

ul{
  list-style: none;
}

#detailkmt{
  margin: 0px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 4%;
}

#juduldetail{
  margin-left: 5%;
  margin-right: 8%;
  margin-bottom: 30px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 2.2em;
  text-transform: capitalize;
  /*height: 10%;
  box-shadow: 1px 2px 5px 1px #252525;*/
}

#isidetail{
  width: 100%;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
}

.vl{
  border-left: 2px solid #252525;
  height: 350px;
  margin-top: 8%;
  margin-left: 60%;
}

/* The Modal (background) */
.tntmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.tntmodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.tntclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.tntclose:hover,
.tntclose:focus {
    color:  red;
    text-decoration: none;
    cursor: pointer;
}

.tntmodal-header {
    padding: 2px 16px;
    background-color: #252525;
    color: white;
}

.tntmodal-body {
  padding: 2px 16px;
}

.taTindakLanjut{
	margin-top: 10px;
	width: 98.5%;
	font-size: 1.2em;
}

.submit-tindaklanjut-button
{
	background-color: #252525;
	width: 20%;
	height: 40px;
	cursor: pointer;
	color: white;
	border: none;
  margin: 10px;
  margin-left: 0px;
	font-size: 0.8em;
}

.submit-tindaklanjut-button:hover
{
	/*border-bottom: 3px solid #007a26;*/
	background-color: #007a26;
}

#tntBtn {
  border: none;
  background-color: #007a26;
  color: white;
  width: 100%;
  height: 35px;
  cursor: pointer;
  border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
}

#tntBtn:hover {
  border-bottom: 3px solid #252525;
}

.delete-detailpengaduan-modal-window.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.deletepengaduanModal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    border: 2px solid white;
    min-width: 240px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}

.deletejeniskategori-header{
    padding: 2px 16px;
    background-color: #252525;
    color: white;
    border-radius: 5px 5px 0 0;
}

.deletepengaduanModal-body{
  padding: 12px 16px;
}

.delete-pengaduan-button, .deletetntclose {
  /*float: left;*/
	background-color: #007a26;
	width: 115px;
	height: auto;
	cursor: pointer;
	color: white;
	border: none;
  font-size: 1.4em;
  padding: 20px;
  border-radius: 2px;
	text-align: center;
}

.delete-pengaduan-button:hover, .deletetntclose:hover{
  background-color: #252525;
}

.deletepengaduanbutton{
  border: none;
  background-color: #007a26;
  color: white;
  width: 100%;
  height: 35px;
  cursor: pointer;
  border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
}

.deletepengaduanbutton:hover{
  border-bottom: 3px solid #252525;
}
