body{
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	width: 90%;
}

.main-section{
	float: left;
}
.aside-nav-pengaduan{
	float: right;
}

input
{
	padding: 2px;
	width: 95%;
	height: 30px;
	font-family: Tahoma;
	margin: 5px 0px 10px 0px;
}

.submit-pengaduan-button
{
	background-color: #252525;
	width: 50%;
	height: 50px;
	cursor: pointer;
	color: white;
	border: none;
	font-size: 1em;
}

.submit-pengaduan-button:hover
{
	/*border-bottom: 3px solid #007a26;*/
	background-color: #007a26;
}

/*konten modal box*/
.tulispengaduan {
	/*border: 2px solid blue;*/
	box-shadow: 1px 1px 5px 2px grey;
	padding: 10px;
	width: 60%;
	float: left;
	clear: both;
}

.informasipengadu{
	float: right;
	margin-right: 5%;
}

#infoprof{
	margin-top: 27px;
}

/*Style untuk List Pengaduan*/
.listpengaduan-samping
{
	border: 1px solid #e4e4e4;
	width: 60%;
	float: left;
	min-height: 800px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 130px;
}

#piechart{
	border: 1px solid black;
	float: left;
	margin-top: px;
	width: 400px;
	height: 400px;
}

.statistikpnd{
	/*border: 1px solid red;*/
	padding: 10px;
	height: auto;
}

.statistikpnd p{
	font-size: 0.9em;
}

.p-nama-kategori{
	color: #2e3192;
	font-weight: bold;
}

.sudah-ditindaklanjuti-b
{
	color: #00a651;
}
.belum-ditindaklanjuti-i{
	color: #ed1c24;
}


.taPengaduan{
	margin-top: 10px;
	width: 95%;
	height: 265px;
	font-size: 1.1em;
}

.hrdivider
{
	height: 3px;
	background-color: white;
	/*border: none;*/
	border-left: 100px solid #007a26;
}

.wrapper{
	width: 90%;
}

.wrapper a{
  text-decoration: none;
}

.content-title{
  color : black;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	/*word-wrap: break-word;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.content-body{
	margin-top: 10px;
	margin-bottom: 10px;
	/*word-wrap: break-word;
	word-break: break-all;
	text-align: justify;*/
	text-align: justify;
	overflow: hidden;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.baca_Lengkap:hover{
	text-decoration: underline;
}

#list-ul li{
  list-style: none;
}

#list-ul{
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 0.8em;
}

/*Style Form Pengaduan*/
.pndmodal-header{
  padding: 2px 16px;
  background-color: #252525;
  color: white;
  border-radius: 5px 5px 0 0;
}

.pndmodal-body{
  padding: 12px 12px;
	height: 520px;
}

/* The Modal (background) */
.pndmodal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pndmodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.pndclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.pndclose:hover,
.pndclose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/*Style Untuk Tombol Pengaduan*/
#alertpengaduan{
	/*border: none;
  background-color: #007a26;
  color: white;
  width: 150px;
  height: 50px;*/
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid black;
	float: right;
	clear: both;
	margin-top: 18px;
	margin-right: 3%;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	width: 400px;
}

#alertaduankosong{
	text-align: center;
	margin: 0px;
	margin-top: 40px;
}

#pndBtn {
  border: none;
  background-color: #007a26;
  color: white;
  cursor: pointer;
  border-radius: 2px;
	padding: 10px;
	font-size: 1em;
}

#pndBtn:hover {
	background-color: #252525;
}

#hre{
	margin-bottom: 0px;
	margin-top: 0px;
	height: 1px;
    background: #ccc;
    border: 0;
}

.tkmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.tkmodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.tkclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.tkclose:hover,
.tkclose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.tkmodal-header {
    padding: 2px 16px;
    background-color: #252525;
    color: white;
}

.tkmodal-body {
	padding: 2px 16px;
}

#tkBtn{
	margin-left: 5%;
}

.submit-tambahjnspengaduan-button{
	margin: 10px 25%;
	width: 50%;
}

.tambah-jnspengaduan{
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 100%;
}

#judullistjenispengaduan{
	margin-bottom: 3%;
}

.listjenispengaduan tr td	{
	padding: 0px;
	padding-bottom: 10%;
}

.delete-jeniskategori-modal-window.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.deletejeniskategoriModal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    border: 2px solid white;
    min-width: 240px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}

.deletejeniskategori-header{
    padding: 2px 16px;
    background-color: #252525;
    color: white;
    border-radius: 5px 5px 0 0;
}

.deletejeniskategoriModal-body{
  padding: 12px 16px;
}

.delete-jeniskategori-button, .deletejkclose {
  /*float: left;*/
	background-color: #007a26;
	width: 115px;
	height: auto;
	cursor: pointer;
	color: white;
	border: none;
  font-size: 1.4em;
  padding: 20px;
  border-radius: 2px;
	text-align: center;
}

.delete-jeniskategori-button:hover, .deletejkclose:hover{
  background-color: #252525;
}

.deletejeniskategoributton{
	margin-left: 70px;
}

.deletejeniskategoributton:hover{
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

@media screen and (max-width: 900px)
{
	.aside-nav-pengaduan{
		float: left;
	}
	.listpengaduan-samping{
		width: 90%;
	}
}
