html{
  background: url('../assets/green.jpg');
}

body
{
  margin: 0 auto;
  width: 90%;
  height: auto;
  background-color: white;
}

header
{
  display: inline-block;
}

/*------------HEADER------------*/

.logo-div
{
  width: auto;
  height: auto;
  float: left;
  /*border: 2px solid black;*/
}

.inspektorat-logo{
  width: 100px;
  height: auto;
}

.title-div
{
  height: auto;
  /*border: 2px solid red;*/
  display: inline-block;
}

.title a{
  color: #00a651;
  font-family: arial;
  text-decoration: none;
  font-size: 1em;
}

.subtitle-div
{
  /*border: 2px solid blue;*/
}

.sub-title
{
  font-family: arial;
}

/*.banner-img-div
{

}*/

.banner-img
{
  width: 100%;
  height: auto;
}

.top-menu-nav
{
  background-color: #252525;
  border-bottom: 3px solid #00a651;
  position: sticky;
  z-index: 10;
  clear: both;
}

.top-menu-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-menu-nav li{
  float: left;
}

.top-menu-nav li:hover{
  background-color: #00a651;
}

.top-menu-nav a{
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 14px 3px 14px 3px;
  font-size: 12px;
}

.dropdown-content, .search-dropdown-content{
  display: none;
  position: absolute;
  background-color: #252525;
  border-left: 3px solid #00a651;
  z-index: 1;
}

.dropdown-content a{
  color: white;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  background-color: #00a651;
}

.dropdown:hover .dropdown-content{
  display: block;
}
