body{
  /*font-family: "Open Sans", sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 90%;
  /*box-shadow: 1px 1px 15px 2px grey;*/
}

section
{
  float: left;
  width: 65%;
  /*border: 2px solid red;*/
}

aside
{
  float: right;
  width: 30%;
  /*border: 2px solid blue;*/
}

.content-title
{
  background-color: #252525;
  border-bottom: 3px solid #007a26;
  color: white;
  padding: 5px;
  font-family: Tahoma;
}

.slideshow-container
{
  box-sizing: border-box;
  position: relative;
  box-shadow: 1px 1px 15px 2px grey;
}

.newsSlides
{
  display: none;
}

.news-img
{
  width: 100%;
  height: 500px;
  vertical-align: middle;
}

.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
}

.next
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover
{
  background-color: rgba(0,0,0,0.8);
}

.news-caption
{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #252525;
  opacity: 0.7;
}

.h4news-caption
{
  font-size: 2em;
  color: white;
  font-weight: normal;
}

.dot-navigation
{
  margin-top: 10px;
  text-align: center;
}
.dot
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border: 1px solid #252525;
  border-radius: 50%;

  display: inline-block;
  transition: background-color 0.9 ease;
}

.active, .dot:hover
{
  background-color: #252525;
}

.fade
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes fade {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/*================== KEGIATAN SECTION==============*/
.kegiatan-div
{
  float: left;
  /*border: 2px solid green;*/
  /*display: grid;*/
  /*grid-template-columns: auto auto;
  display: grid;*/

}
.list-kegiatan-div
{
  width: 40%;
  height: 94px;
  padding: 6px;
  margin-right: 2%;
  margin-bottom: 2%;

  /*border: 1px solid red;*/
  float: left;
  display: inline;
}

.list-kegiatan-div:hover
{
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  box-shadow: 1px 1px 8px 1px grey;
}

.kegiatan-thumbnails
{
  width: 168px;
  height: 94px;
  float: left;
  margin-right: 10px;
}

.kegiatan-title
{
  font-size: 0.9em;
  color: #252525;
  /*border: 1px solid orange;*/
  display: inline;
}

.kegiatantimedate
{
  font-size: 0.8em;
  color: gray;
  display: block;
}

/*================== ASIDE =================*/
aside a{
  text-decoration: none;
}

.list-berita-div
{
  width: 93%;
  padding: 10px;
  margin-bottom: 5%;
  float: left;
}

.list-berita-div:hover
{
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  box-shadow: 1px 1px 8px 1px grey;
}

.other-news-thumbnails
{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.other-news-title
{
  font-size: 1em;
  color: #252525;
  /*border: 1px solid orange;*/
  display: inline;
}

.timedate
{
  font-size: 0.8em;
  color: gray;
  display: block;
}

.link-terkait-div
{
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  /*box-shadow: 1px 1px 2px 1px grey;*/
  height: auto;
  padding: 10px;
  margin-bottom: 5%;
  float: left;
  width: 93%;
  background-color: #F7F7F7;
  border:1px solid #E4E4E4;
}
.link-terkait-div:hover{
  box-shadow: 1px 1px 2px 1px grey;
}

.link-images
{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  /*border: 1px solid blue;*/
  border:1px solid #E4E4E4;
}

.plink{
  display: inline;
  font-family: Tahoma;
  color: #252525;
  font-size: 0.9em;
}

.calendar-div
{
  /*border: 2px solid blue;*/
  clear: both;
}

.linkto-edit-agenda
{
  background-color: #007a26;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  font-size: 0.9em;

}

.linkto-edit-agenda:hover{
  background-color: #252525;
}

@media screen and (max-width: 800px)
{
  section{
    display: block;
    width: 100%;
  }

  aside{
    display: block;
    width: 100%;
  }

  .list-kegiatan-div
  {
    display: block;
    width: 50%;
  }
}

@media screen and (max-width: 1300px)
{
  .list-kegiatan-div
  {
    display: block;
    width: 95%;
  }
}

@media screen and (max-width: 400px)
{
  .kegiatan-title
  {
    font-size: 0.7em;
    color: #252525;
    /*border: 1px solid orange;*/
    display: inline;
  }

  .kegiatantimedate
  {
    font-size: 0.6em;
    color: gray;
    display: block;
  }
}
