body{
}

h1{
	text-align: center;
	font-family: sans-serif;
	font-weight: 300;
	color: #fff;
}

.h4berita
{
	text-transform: uppercase;
	color: #252525;
	margin-top: 30px;
}

.hrdivider
{
	height: 3px;
	background-color: white;
	/*border: none;*/
	border-left: 100px solid #007a26;
}

.hrtitledatedivider{
	height: 1px;
    background: #ccc;
    border: 0;
}

.tombol{
	padding: 8px 15px;
	border-radius: 3px;
	background: #ECF0F1;
	border: none;
	color: #232323;
	font-size: 12pt;
}

.kotak{
	margin: 20px auto;
	width: 80%;
	padding: 50px 50px 50px 50px;
	border-radius: 3px;

	/*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  box-shadow: 1px 1px 5px 1px grey;
}

input
{
	padding: 2px;
	width: 95%;
	height: 30px;
	font-family: Tahoma;
	margin: 5px 0px 10px 0px;
}

.buat-artikel-button
{
	padding: 5px;
	width: 95%;
	height: 30px;
	font-family: Tahoma;
	margin: 5px 0px 10px 0px;
}

.simpan-artikel-button
{
	background-color: #252525;
	width: 20%;
	height: 50px;
	cursor: pointer;
	color: white;
	border: none;
}

.simpan-artikel-button:hover
{
	/*border-bottom: 3px solid #007a26;*/
	background-color: #007a26;
}

.list-berita-wrapper{
	/*border-radius: 5px;
	border: 1px solid #252525;*/
	margin-top: 30px;
	min-height: 800px;
	margin-bottom: 50px;
}

.list-berita-div
{
	width: 29%;
	min-width: 130px;

	height: 120px;

  padding: 15px;
  margin-bottom: 5%;
  float: left;
	border: 1px solid #E4E4E4;
	margin-right: 10px;
}

@media screen and (max-width: 1100px)
{
	.list-berita-div{
		width: 35%;
		min-width: 130px;
		height: 40%;
		min-height: 120px;
		max-height: 30%;
	}
}

.list-berita-div:hover
{
  /*box-shadow: 1px 1px 4px 1px grey;*/
	border: 1px solid #919191;
}

.other-news-thumbnails
{
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 15px;
}

.other-news-title
{
	font-size: 1em;
  color: #252525;
  /*border: 1px solid orange;*/
  display: inline;
	font-weight: bold;
}

.timedate
{
  /*border: 1px solid green;*/
	font-size: 0.8em;
  color: gray;
  display: block;
}

.tag-berita{
	color: #007a26;
	font-size: 0.7em;
}

/*button tulis berita dan modalnya*/
#newBeritaBtn
{
  width: 130px;
  height: 50px;
  border-radius: 5px;
	border: none;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid white;
  background-color: #007a26;
  color: white;
}

#newBeritaBtn:hover
{
  background-color: #252525;
}

.artikelmodal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.artikelModal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    border: 2px solid white;
    min-width: 240px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}
.artikelModal-header{
    padding: 2px 16px;
    background-color: #252525;
    color: white;
    border-radius: 5px 5px 0 0;
}
.artikelModal-body{
  padding: 12px 16px;
}
.artikelModal-footer{
    padding: 2px 16px;
    background-color: #252525;
    color: white;
    border-radius: 0 0 5px 5px;
}
.artikelclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.artikelclose:hover,
.artikelclose:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
