section
{
  /*margin: 0 auto;*/
  /*border: 1px solid red;*/
  margin-bottom: 100px;
  background-color: #F7F7F7;
  border:1px solid #E4E4E4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 2px;
}

#editPegawaiButton, #tambahPegawaiButton
{
  border: none;
  background-color: #007a26;
  color: white;
  width: 90px;
  height: 40px;
  cursor: pointer;
  border-radius: 3px;
  /*border: 2px solid darkgreen;*/
}

#editPegawaiButton:hover ,  #tambahPegawaiButton:hover
{
  background-color: #252525;
  /*border-bottom: 4px solid #252525;*/
}

.editpegawai-icon , .tambahpegawai-icon
{
  width: 15px;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /*background-color: #252525;*/
  padding: 10px;
  grid-gap: 20px;
  border-radius: 5px;
}

#grid-item{
  /*background-color: #007a26;*/
  width: 200px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  box-shadow: 1px 1px 1px 1px grey;
  cursor: pointer;
}

#grid-item:hover
{
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  box-shadow: 1px 1px 5px 2px grey;
}

/*===Catatan====
.grid-item-1 : inspektur
.grid-item-2 : sekretariat
.grid-item-3 : subbag program n keuangan
.grid-item-4 : subbag umum
.grid-item-5 : subbag data, IT, Monev
.grid-item-6 : Irban bidang pemerintahan
.grid-item-7 : Irban bidang perekonomian
.grid-item-8 : Irban bidang kesra
.grid-item-9 : Irban bidang sarana dan prasarana

*/


.grid-item-1
{
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-item-jabatanfungsional
{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-item-2
{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.grid-item-3
{
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
}
.grid-item-4
{
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 4;
}
.grid-item-5
{
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 5;
}

.grid-item-6
{
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
}

.grid-item-7
{
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 2;
}

.grid-item-8
{
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 3;
}

.grid-item-9
{
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 4;
}

.so-dropdown:hover .card-wrapper
{
  /*display: block;*/
}

.bagan-organisasi
{
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
  width: 800px;
  margin: auto;
}

.pegawai-cards-div
{
  /*margin: 0 auto;
  height: auto;
  border: 1px solid red;*/
  /*width: auto;*/
}

.card-wrapper
{
  /*box-shadow: kanan , bawah, tingkat-blur, spread-radius, warna */
  /*box-shadow: 1px 1px 5px 1px grey;*/
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  height: 280px;
  margin: 5px 5px;
  float: left;
  background-color: #252525;
  color: white;
  /*display: none;*/
  /*position: absolute;
  z-index: 1;*/
}

.card-photo
{
  text-align: center;
  border-radius: 5px;
  min-width: 90px;
  width: 90px;
  height: auto;
  margin-top: 10px;
}

.edit-foto-pegawai-preview
{
  text-align: center;
  border-radius: 3px;
  min-width: 90px;
  width: 90px;
  height: auto;
}

.profile-details
{
  text-align: center;
  min-width: 170px;
  width: 170px;
  padding: 5px;
  font-size: 1em;
}

.profile-details p
{
  text-align: center;
  min-width: 170px;
  width: 170px;
  padding: 5px;
  font-size: 0.7em;
}

/*MODAL*/
.tambahpegawaimodal , .editpegawaimodal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tambahPegawaiModal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    border: 2px solid white;
    min-width: 240px;
    width: 440px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}

.editPegawaiModal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    border: 2px solid white;
    min-width: 480px;
    width: 71%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 5px;
}

.tambahPegawaiModal-header , .editPegawaiModal-header{
    padding: 2px 16px;
    background-color: #252525;
    color: white;
    border-radius: 5px 5px 0 0;
}

.tambahPegawaiModal-body{
  padding: 12px 16px;
  height: auto;
}

.editPegawaiModal-body{
  padding: 12px 16px;
  height: auto;
  display: inline-block;
}

.tambahp
{
  max-width: 400px;
  background-color: #F7F7F7;
  border:1px solid #E4E4E4;
  padding: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
}

.editp
{
  display: inline-block;
  width: 400px;
  max-width: 400px;
  background-color: green;
  background-color: #F7F7F7;
  border:1px solid #E4E4E4;
  padding: 25px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #FFF;
  margin-bottom: 10px;
}

.tambahp label, .editp label
{
  display: block;
}

.data-edit-pegawai , .data-tambah-pegawai
{
  float: right;
  padding-left: 10px;
	width: 95%;
	height: 30px;
	font-family: Tahoma;
	margin: 0px 10px 10px 10px;
}

.readonly-data
{
  cursor: not-allowed;
}

#foto-pegawai-preview-before-upload
{
  border-radius: 5px;
  min-width: 90px;
  width: 90px;
  height: 110px;
}

.tambah-pegawai-button, .edit-pegawai-button
{
  background: #007a26;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

.tambah-pegawai-button:hover, .edit-pegawai-button:hover{
  background: #252525;
}

.editPclose, .tambahPclose{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.editPclose:hover,
.tambahPclose:hover,
.editPclose:focus,
.tambahPclose:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
