body{
  width: 70%;
  margin: 0px auto;
  font-family: sans-serif;
}
.landasanhukum-div{
  display : block;
  float: left;
  margin: 20px auto;
  width: 60%;
  padding: 30px;

  /*background-color: #F7F7F7;*/
  border: 1px solid #E4E4E4;
  /*box-shadow: 1px 2px 15px grey;*/
}

.garuda{
  text-align: center;
  margin-left: 35%;
  width: 30%;
}

.lhul .lhli{
  font-weight: lighter;
  margin: 30px;
  font-size: 0.9em;
}
